
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #ffe9e9;
    margin: 0;
    min-height: 100vh;
}
.darkText{
    color: rgb(46, 46, 46);
}
header{
    background-color: #ffd0d0;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0 .5rem 0;
    box-shadow: 0 3px 5px rgba(136, 136, 136, 0.438);
    font-family: 'Pacifico', cursive;
}
header a{
    text-decoration: none;
}
h1{
    margin:0 1rem 0 0;
    font-size: 2.8rem;
}
canvas{
    display: none;
}

video, #photo{
    width: 90%;
    /* transform: rotateY(180deg); */
    border: 5px solid #ffbebe;
}

.camera, .output{
    width: 40%;
    text-align: center;
}
.videoAndPhoto{
    margin-top: 20px;
    display:flex;
    justify-content: space-around;
}
.videoAndPhoto p{
    margin-top: 0px;
}
.filtersPanel{
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}

.webcamIcon{
    width: 4rem;
}
.filters{
    display:flex;
    background-color: #ffd0d0;
    width: 85.7%;
    margin: auto;
    padding: 10px 0 10px 0;
    padding-left: 5px;
    justify-content: space-around;
}

.filter{
    width: 200px;
}
.header p{
    margin: 20px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffd0d0;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
}
.webcamControls, .photoControls{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
}

.myButton {
    font-size: 1.1rem;
	background:linear-gradient(to bottom, #fccdcd 5%, #ffbebe 100%);
	background-color:#ffd0d0;
	border-radius:25px;
	border:1px solid #ffc2c2;
	display:inline-block;
	cursor:pointer;
	padding:10px 20px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffbebe 5%, #fccdcd 100%);
	background-color:#ffbebe;
}